@use 'src/styles/abstracts' as *;

.DictVisualizer {
  font-family: "Inconsolata", monospace;
  font-variation-settings: "wdth" 82;
  width: 100%;
  height: 100%;
}

.DictVisualizer__row {
  display: flex;
  align-items: baseline;
}

.DictVisualizer__row__indent {
  height: 100%;
  margin-right: $space-md;
  border-left: $border-dark;
}

.DictVisualizer__row__key {
  margin-right: $space-xs;
}

.DictVisualizer__row__sub {
  margin-right: $space-xxxs;
  font-style: italic;
  white-space: nowrap;
}

.DictVisualizer__row__value {
  white-space: nowrap;
}

.DictVisualizer__row__value__separator {
  margin-right: $space-xxxs;
}
